global:
  resolve_timeout: 5m

route:
  receiver: "default"
  group_by: ["alertname", "node_id"]
  group_wait: 0s
  group_interval: 5s
  repeat_interval: 1h

  routes:
    - match:
        severity: critical
      receiver: "critical"
      group_wait: 0s

receivers:
  - name: "default"
    webhook_configs:
      - url: "http://localhost:5001/webhook"
        send_resolved: true

  - name: "critical"
    webhook_configs:
      - url: "http://localhost:5001/webhook"
        send_resolved: true
